#phase{
    box-sizing:border-box;
    margin:25px;
    margin-top:0px;
    width:720px;
    height:165px;
    line-height:0.7;
    background-color:rgba(0,0,0,0.3);
}
#moon{
    opacity:0;
    float:right;
    animation-name:fadeIn;
    animation-delay: 3s;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-fill-mode:forwards;
}
#moon-name{
    opacity:0;
    padding-left:20px;
    animation-name:fadeIn;
    animation-delay: 6s;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode:forwards;
}
#description{
    opacity:0;
    padding-left:20px;
    line-height:1.0;
    animation-name:fadeIn;
    animation-delay: 7s;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode:forwards;
}
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}